/* overall changes */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* body {
  background-color: rgb(184, 184, 96);
} */
:root {
  --blue1: rgb(0, 183, 255);
  --yellow1: rgb(240, 166, 28);
  --lightOrangeDarker: #ffb71b;
  --lightOrangeLighter: #ffd079;
}

.left {
  position: absolute;
  /* height: 788px; */
  height: 100%;
  width: 50%;
  /* background-color: var(--yellow1); */
  background-image: linear-gradient(
    to right,
    var(--lightOrangeLighter),
    var(--lightOrangeDarker)
  );
  /* background-color: var(--lightOrangeDarker); */
  /* background-image: linear-gradient(rgb(2, 90, 255), rgb(241, 117, 35)); */
  /* background-color: var(--blue1); */
  z-index: 1;
  box-shadow: 10px 0 8px 15px var(--lightOrangeDarker);
}

.right {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  background-image: url(../image/GettyImages-478897762.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin-top: 100px;
  font-size: 80px;
  font-weight: 900;
  text-shadow: 5px 5px 5px white;
}

.webInfo1 {
  position: absolute;
  display: block;
  margin: 0 90px;
  top: 35%;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  line-height: 30px;
}

.webInfo2 {
  position: absolute;
  display: block;
  width: 160px;
  height: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 70%;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
.webInfo2:hover {
  border-bottom: 3px solid black;
}
.webInfo2 a {
  text-decoration: none;
}

/* buttons */
#signup_button,
#login_button {
  display: block;
  position: absolute;
  height: 60px;
  width: 150px;
  top: 80%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
}
#signup_button {
  left: 20%;
}
#login_button {
  right: 20%;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 5px 22px 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: left;
  border-radius: 20px;
  /* border: 3px solid #ddd; */
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #ee7220;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

/* cancel and signup buttons */
.clearfix {
  display: flex;
  justify-content: space-around;
}
.cancelbtn {
  background-color: #f44336;
}
.signupbtn {
  background-color: rgb(28, 223, 38);
}
.cancelbtn,
.signupbtn {
  width: 45%;
  border-radius: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: var(--blue1); */
  background-image: linear-gradient(
    to right,
    var(--lightOrangeLighter),
    var(--lightOrangeDarker)
  );
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 60%;
  border-radius: 30px;
}
#content1 {
  margin: 85px auto 0 auto;
  height: 550px;
}
#content2 {
  margin: 145px auto 0 auto;
  height: 350px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
} */
