/* overall changes */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* variable */
:root {
  --orange: #ff9d3b;
  --coralOrange: rgb(212, 118, 86);
  --midOrange: #f3b374;
  --lightOrange: #f1c453;
  --lightOrangeDarker: #ffb71b;
  --lightOrangeLighter: #ffd079;
  --yellow: #fffb24;
  --yellow1: #e0db41;
  --yellow2: #faf56f;
  --yellow3: #efea5a;
  --green1: #16db93;
  --green2: #58ebb5;
}
/* :root {
  --orange: #f29e4c;
  --coralOrange: rgb(212, 118, 86);
  --midOrange: #f3b374;
  --lightOrange: #f1c453;
  --lightOrangeDarker: #ecb02e;
  --lightOrangeLighter: #f0bf65;
  --yellow: #fffb24;
  --yellow1: #e0db41;
  --yellow2: #faf56f;
  --yellow3: #efea5a;
  --green1: #16db93;
  --green2: #58ebb5;
} */

/* top navigation bar */
.Top {
  display: flex;
  justify-content: space-between;
  background-color: var(--orange);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  box-shadow: 0 2px 10px grey;
}
div[class^="top"] {
  background-color: var(--midOrange);
  height: 50px;
  border: none;
  text-align: center;
}
.Top #top_menu {
  /* background-color: var(--midOrange); */
  background-image: url(../icon/svg/008-list.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 50px;
  /* padding-top: 15px; */
}
.Top #top_menu:hover {
  background-color: rgb(252, 189, 96);
}
.Top .top_logo {
  width: 200px;
  padding-top: 15px;
}
.Top .top_profile {
  width: 300px;
  /* border-bottom: 3px solid rgb(80, 80, 80); */
}
.profile_nickname {
  width: 200px;
  background-color: rgb(212, 118, 86);
  float: left;
  height: 50px;
  padding-top: 15px;
}
.profile_picture {
  background-color: rgb(252, 185, 99);
  width: 100px;
  height: 50px;
  float: left;
}

/* content */
.left,
.right {
  margin-top: 50px;
  float: left;
  width: 50%;
  height: 739px;
  position: relative;
}
.left {
  background-color: var(--lightOrange);
  /* border-right: 5px soild black; */
  background-image: linear-gradient(
    to right,
    var(--lightOrangeLighter),
    var(--lightOrangeDarker)
  );
}
.right {
  /* background-color: var(--lightOrangeLighter); */
  background-image: linear-gradient(
    to right,
    var(--lightOrangeDarker),
    var(--lightOrangeLighter)
  );
}

/* #line_divition {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 3px;
  height: 77%;
  background-color: rgb(255, 255, 255);
} */

/* map  */
.map {
  position: relative;
  background-image: url("../image/IMG_3867.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 95%;
  height: 710px;
  /* top: 50px;
  left: 100px;
  transform: translate(50px, 50px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.switch {
  position: absolute;
  bottom: 24%;
  right: 15%;
  z-index: 1;
  /* width: 200px; */
  /* background-color: darkgoldenrod; */
}

/* .test2 {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  background-color: blueviolet;
  z-index: 1;
  /* top: 200px;
  left: 300px;
}

.test2:hover {
  background-color: cornflowerblue;
} */

.like,
.default,
.clear {
  background-color: var(--lightOrangeDarker);
  height: 30px;
  width: 70px;
  position: absolute;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 2px rgb(163, 163, 163);
  /* z-index: 1; */
  line-height: 30px;
  cursor: pointer;
  /* right: 20px; */
}

.like:hover,
.default:hover,
.clear:hover {
  background-color: var(--lightOrangeLighter);
}

.like:active,
.default:active,
.clear:active {
  background-color: var(--lightOrangeLighter);
  box-shadow: 0px 2px 5px rgb(53, 53, 53);
  transform: translate(0px, 4px);
}

/* .clear {
  top: 550px;
} */

.like {
  /* top: 600px; */
  top: 50px;
}

.default {
  /* top: 650px; */
  top: 100px;
}

/* landmark */
.Landmark {
  /* background-color: var(--lightOrangeLighter); */
  height: 500px;
  position: relative;
  /* margin-top: 15; */
  /* margin-left: 50%; */
  /* transform: translate(-50%, 0px); */
  margin-top: 15px;
  margin-left: 20px;
}
div[class^="landmark"] {
  text-align: center;
}
.justLandmark {
  border: 1px solid white;
}
.landmark_image {
  position: absolute;
  width: 95%;
  height: 400px;
  /* background-color: rgb(113, 196, 96); */
  background-image: url("../image/5a0b634b7c86cc3d038b47f0.jpeg");
  background-position: -300px -100px;
  background-size: 1000px;
  background-repeat: no-repeat;
  border-radius: 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px grey;
}
.landmark_image p {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  display: block;
}
.landmark_bottom {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 50px;
  bottom: 40px;
  position: absolute;
}
.landmark_name {
  width: 55%;
  border-radius: 20px;
  /* bottom: 20px;
  left: 50px; */
  background-color: var(--yellow);
  /* background-image: linear-gradient(to right, var(--yellow), rgb(255, 216, 45)); */
  border: 5px outset var(--yellow3);
  font-size: 30px;
  font-style: 900;
  line-height: 40px;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

/* #Capa_1 {
  width: 100px;
  height: 100px;
  z-index: 100;
  position: absolute;
  top: 500px;
  left: 500px;
} */

.heart {
  fill: rgb(0, 0, 0);
  /* width: 30px;
  height: 30px; */
}
/* .heart:hover {
  fill: #d7443e;
} */
/* .heartToggle {
  fill: #d7443e;
} */
.likeHeart {
  position: absolute;
  width: 40px;
  left: 427px;
  top: 5px;
}
.landmark_like {
  width: 50px;
  border-radius: 10px;
  /* bottom: 10px;
  right: 150px; */
  background-color: var(--yellow);
  /* background-image: url(../icon/svg/018-heart.svg); */
  /* background-size: 30px;
  background-position: center;
  background-repeat: no-repeat; */
  cursor: pointer;
  line-height: 64px;
  box-shadow: 3px 3px 3px rgb(139, 139, 139);
  order: 1;
}
.landmark_like:hover {
  /* border-radius: 27px; */
  border: 3px solid rgb(247, 136, 45);
}
.landmark_comment {
  width: 50px;
  border-radius: 10px;
  /* bottom: 10px;
  right: 50px; */
  background-color: var(--yellow);
  background-image: url(../icon/svg/020-comment.svg);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  line-height: 64px;
  box-shadow: 3px 3px 3px rgb(139, 139, 139);
  order: 2;
}
.landmark_comment:hover {
  /* background-color: rgb(212, 118, 86); */
  border: 3px solid rgb(247, 136, 45);
}

.landmark_test {
  width: 50px;
  background-color: var(--yellow);
  background-image: url(../icon/svg/021-test.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  line-height: 64px;
  box-shadow: 3px 3px 3px rgb(139, 139, 139);
  order: 3;
}
.landmark_test:hover {
  border: 3px solid rgb(247, 136, 45);
}

/* unlockable */
.Unlockable {
  /* background-color: var(--lightOrangeLighter); */
  width: 100%;
  height: 239px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div[class^="unlockable"] {
  height: 150px;
  background-color: var(--lightOrangeDarker);
  border-radius: 30px;
}
.unlockable_picture {
  width: 100px;
}
.unlockable_description {
  width: 400px;
}
.unlockable_test {
  width: 100px;
}

/* side navigation */
#side_nav {
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: var(--green1);
  top: 0;
  left: 0;
  z-index: 1;
  /* overflow: hidden; */
  transition: 1s;
  box-shadow: 5px 0 10px grey;
  display: none;
}

#side_nav a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
  line-height: 50px;
  /* cursor: pointer; */
}

#side_nav a:hover {
  color: #ffffff;
  background-color: #0db39e;
  box-shadow: 0 2px 8px grey;
  /* border: 1px solid white; */
}

#side_nav #close_side_nav {
  margin-top: 0;
  height: 50px;
  background: #17b0d6 url(../icon/svg/010-undo.svg) no-repeat center;
  background-size: 45px;
}

#side_nav #close_side_nav:hover {
  background-color: #3687d3;
}

/* style */
/* #style {
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 800px;
  background-color: var(--coralOrange);
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 7px grey;
}

#style_content {
  position: relative;
  height: 600px;
  width: 800px;
}

#style_close {
  position: absolute;
  top: 2px;
  right: 4px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
} */

/* center box general settings */
.centerBox {
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 800px;
  /* background-color: var(--green1); */
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 7px grey;
  background-image: linear-gradient(rgb(19, 186, 228), rgb(23, 224, 157));
}

.centerBox_content {
  position: relative;
  height: 600px;
  width: 800px;
}

.centerBox_close {
  position: absolute;
  top: 2px;
  right: 4px;
  width: 50px;
  height: 50px;
  background: url(../icon/svg/close.svg) no-repeat center;
  background-size: contain;
  border-radius: 20px;
  cursor: pointer;
}
.centerBox_close:hover {
  background-color: #28f5a6;
  /* box-shadow: 2px 2px 2px grey; */
  /* border: 1px solid white; */
}

/* style  */
#style_font_title {
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 50px;
}

#style_font {
  position: absolute;
  top: 100px;
  left: 50px;
}

#style_font > p {
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

#style_font > p:hover {
  color: rgb(70, 180, 207);
}

/* credits */
[id^="credits_"] {
  position: absolute;
}

#credits_iade {
  /* position: absolute; */
  bottom: 100px;
  width: 500px;
  height: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

#credits_name {
  /* position: absolute; */
  font-size: 50px;
  font-style: bold;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 3px 3px 3px rgb(95, 95, 95);
}

/* pins on the map  */
#Pin {
  position: relative;
  display: block;
  width: 50%;
  height: 739px;
  top: 50px;
}

div[id^="pin"] {
  position: absolute;
  background-color: rgb(85, 221, 255);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

div[id^="pin"]:hover {
  /* box-shadow: 2px 2px 2px #fff; */
  border: 4px solid white;
}

div[id^="pin"]:active {
  border: none;
}

#pin_1 {
  top: 660px;
  left: 100px;
}
#pin_2 {
  top: 683px;
  left: 53px;
}
#pin_3 {
  top: 546px;
  left: 480px;
}

/* question and answer box  */
#test_pos {
  position: absolute;
  z-index: 3;
  /* height: 400px;
  width: 600px; */
  height: 500px;
  width: 1000px;
  /* background-color: var(--coralOrange); */
  background-image: linear-gradient(rgb(19, 186, 228), rgb(23, 224, 157));
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 7px grey;
}

/* #test {
  position: relative;
  height: 500px;
  width: 1000px;
} */
.clearTest {
  display: none;
}

#test_close {
  position: absolute;
  top: 2px;
  right: 4px;
  width: 50px;
  height: 50px;
  /* background-color: rgba(0, 0, 0, 0.425); */
  background: url(../icon/svg/close.svg) no-repeat center;
  background-size: contain;
  border-radius: 20px;
  cursor: pointer;
}
#test_close:hover {
  background-color: #28f5a6;
}
#question_num {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 30px;
  font-weight: 800;
}
#point {
  position: absolute;
  top: 50px;
  left: 150px;
  font-size: 30px;
  font-weight: 900;
}
.point_total {
  position: absolute;
  /* background-color: rgba(85, 221, 255, 0.541); */
  bottom: 60px;
  left: 375px;
  font-size: 25px;
  color: rgb(85, 221, 255);
  font-weight: 700;
  border: 3px solid rgb(85, 221, 255);
  border-radius: 5px;
}
/* #skip {
  position: absolute;
  top: 50px;
  left: 300px;
  font-size: 30px;
  font-weight: 700;
  border: 3px solid rgb(85, 221, 255);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}
#skip:hover {
  background-color: rgba(85, 221, 255);
} */
#next {
  position: absolute;
  top: 50px;
  left: 350px;
  font-size: 30px;
  font-weight: 700;
  border: 3px solid rgb(85, 221, 255);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}
#next:hover {
  background-color: rgba(85, 221, 255);
}
#result {
  position: absolute;
  display: none;
  top: 50px;
  left: 350px;
  font-size: 30px;
  font-weight: 700;
  border: 3px solid rgb(85, 221, 255);
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}
#result:hover {
  background-color: rgba(85, 221, 255);
}
#question {
  position: absolute;
  width: 850px;
  height: 180px;
  top: 150px;
  left: 100px;
  text-align: left;
  /* line-height: 180px; */
  /* left: 40%; */
  /* transform: translate(-50%, 0); */
  font-size: 30px;
  font-weight: 600;
  /* text-shadow: 1px 1px 1px white; */
  /* background-color: rgb(67, 182, 211);
  border-radius: 20px; */
  /* padding-top: 50px; */
}
.Answer {
  position: absolute;
  top: 240px;
  left: 50px;
  height: 300px;
}
.answer {
  width: 800px;
  text-align: left;
  padding-left: 50px;
  border-radius: 20px;
  /* position: absolute; */
  /* height: 40px; */
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  /* transform: translate(-50% 0); */
  /* left: 100px; */
  border: none;
  margin: 20px;
  display: block;
}
.answer:hover {
  /* border: 2px solid black; */
  border-radius: 15px;
  background-color: rgba(67, 182, 211, 0.705);
}
/* .result {
  position: absolute;
  top: 250px;
  left: 30px;
  height: 200px;
  width: 80px;
}
.results {
  margin: 18px;
  width: 25px;
  height: 25px;
  background-size: contain;
} */
.disable {
  pointer-events: none;
}
.tick {
  background-color: rgb(93, 214, 93);
  background-image: url("../icon/svg/correct.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.cross {
  background-color: rgb(224, 130, 130);
  background-image: url("../icon/svg/wrong.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#ResultBox {
  width: 900px;
  height: 450px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div[id^="resultBox"] {
  font-size: 30px;
  font-weight: 600;
}
/* #resultBox_questionBoard {
  background-color: rgb(212, 118, 86);
}
#resultBox_scoreBoard {
  background-color: rgb(87, 41, 26);
}
#resultBox_countdown {
  background-color: rgb(144, 168, 35);
} */

/* .result_A {
  background-color: var(--coralOrange);
} */
/* .result_D {
  background-image: url("../icon/svg/correct.svg");
  display: block; 
  background-image: none;
} */
/* #A {
  top: 250px;
}
#B {
  top: 300px;
}
#C {
  top: 350px;
}
#D {
  top: 400px;
} */
/* #A {
  top: 260px;
  left: 25%;
}
#B {
  top: 260px;
  right: 25%;
}
#C {
  top: 330px;
  left: 25%;
}
#D {
  top: 330px;
  right: 25%;
} */
